[submodule "FireRender.Components"]
	path = RadeonProRenderSharedComponents
	url = git@github.com:GPUOpen-LibrariesAndSDKs/RadeonProRenderSharedComponents.git
[submodule "RadeonProRenderSDK"]
	path = RadeonProRenderSDK
	url = git@github.com:GPUOpen-LibrariesAndSDKs/RadeonProRenderSDK.git
